{{- $scriptFiles := .script | default slice -}}
{{- $styleFiles := .style | default slice -}}

{{- $scriptHashes := slice -}}
{{- range $scriptFiles }}
    {{ with resources.Get . -}}
        {{- $script := . | minify | fingerprint -}}
        {{- $scriptHashes = $scriptHashes | append (printf "'%s'" $script.Data.Integrity) -}}
        <script>{{ $script.Content | safeJS }}</script>
    {{- end }}
{{- end -}}

{{- $styleHashes := slice -}}
{{- range $styleFiles }}
    {{ with resources.Get . -}}
        {{- $style := . | minify | fingerprint -}}
        {{- $styleHashes = $styleHashes | append (printf "'%s'" $style.Data.Integrity) -}}
        <style>{{ $style.Content | safeCSS }}</style>
    {{- end }}
{{- end -}}

{{- $scriptSrc := delimit $scriptHashes " " -}}
{{- $styleSrc := delimit $styleHashes " " -}}
{{- $csp := printf "script-src 'self' 'wasm-unsafe-eval' %s; style-src 'self' %s;" $scriptSrc $styleSrc }}
<!-- <meta http-equiv="Content-Security-Policy" content="{{ $csp | safeHTMLAttr }}"> -->
