{{- if site.Params.math.enable -}}
    {{- $engine := site.Params.math.engine -}}
    {{- $cdn := site.Params.math.cdn -}}
    {{- $version := site.Params.math.version -}}
    
    {{- if eq $engine "katex" -}}
    <link rel="stylesheet" type="text/css" href="{{ $cdn }}/{{ $engine }}@{{ $version }}/dist/katex.min.css" crossorigin="anonymous">
    <script defer src="{{ $cdn }}/{{ $engine }}@{{ $version }}/dist/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="{{ $cdn }}/{{ $engine }}@{{ $version }}/dist/contrib/mhchem.min.js" crossorigin="anonymous"></script>
    <script defer src="{{ $cdn }}/{{ $engine }}@{{ $version }}/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
    
    {{- else if eq $engine "mathjax" -}}
    <script defer src="{{ $cdn }}/{{ $engine }}@{{ $version }}/tex-chtml.js" crossorigin="anonymous"></script>
    
    {{- else -}}
    {{- errorf "math engine is not support %q, it only supports [katex] or [mathjax]." $engine -}}
    {{- end -}}
{{- end -}}
