{{- $fileNames := slice
    "js/backtop.js"
    "js/copy-code.js"
    "js/collapse.js"
-}}

{{- $scripts := slice -}}
{{- range $fileNames -}}
    {{- with resources.Get . -}}
        {{- $scripts = $scripts | append . -}}
    {{- end -}}
{{- end -}}

{{- if site.Params.math.enable -}}
    {{- $engine := site.Params.math.engine -}}
    {{- if eq $engine "katex" -}}
    {{- with resources.Get "js/katex.js" -}}
        {{- $scripts = $scripts | append . -}}
    {{- end -}}
    {{- end -}}
{{- end -}}

{{- if gt (len $scripts) 0 -}}
    {{- $rtxtScripts := $scripts | resources.Concat "js/rtxt-scripts.js" | minify | fingerprint -}}
    <script defer src="{{ $rtxtScripts.RelPermalink }}"></script>
{{- end -}}
