{{- $fileNames := slice
    "js/backtop.js"
    "js/copy.js"
    "js/collapse.js"
    "js/theme-switch.js"
    "js/scroll.js"
    "js/tabs.js"
    "js/menu.js"
    "js/toc.js"
-}}

{{- $scripts := slice -}}
{{- range $fileNames -}}
    {{- with resources.Get . -}}
        {{- $scripts = $scripts | append . -}}
    {{- end -}}
{{- end -}}

{{- if site.Params.math.enable -}}
    {{- $engine := site.Params.math.engine -}}

    {{- if eq $engine "katex" -}}
        {{- with resources.Get "js/katex.js" -}}
            {{- $scripts = $scripts | append . -}}
        {{- end -}}

    {{- else if eq $engine "mathjax" -}}
        {{- with resources.Get "js/mathjax.js" -}}
            {{- $scripts = $scripts | append . -}}
        {{- end -}}

    {{- else -}}
        {{- errorf "math engine is not support %q, it only supports [katex] or [mathjax]." $engine -}}
    {{- end -}}
{{- end -}}

{{- $searchEnable := false -}}
{{- if and (isset site.Params "search") (isset site.Params.search "enable") -}}
    {{- $searchEnable = site.Params.search.enable -}}
{{- end -}}
{{- if $searchEnable -}}
    {{- with resources.Get "pagefind/pagefind-component-ui.js" -}}
        {{- $scripts = $scripts | append .  -}}
    {{- end -}}
    {{- with resources.Get "pagefind/search-modal.js" -}}
        {{- $scripts = $scripts | append .  -}}
    {{- end -}}
{{- end -}}

{{- if gt (len $scripts) 0 -}}
    {{- $rtxtScripts := $scripts | resources.Concat "js/rtxt-scripts.js" | minify | fingerprint -}}
    <script defer src="{{ $rtxtScripts.RelPermalink }}" integrity="{{ $rtxtScripts.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end -}}
