{{- $options := dict
    "transpiler" "dartsass"
    "targetPath" "css/rtxt.css"
-}}

{{- $styles := slice -}}
{{- with resources.Get "scss/rtxt.scss" -}}
    {{- $styles = $styles | append (. | toCSS $options) -}}
{{- end -}}

{{- $searchEnable := false -}}
{{- if and (isset site.Params "search") (isset site.Params.search "enable") -}}
    {{- $searchEnable = site.Params.search.enable -}}
{{- end -}}
{{- if $searchEnable -}}
    {{- with resources.Get "pagefind/pagefind-component-ui.css" -}}
        {{- $styles = $styles | append .  -}}
    {{- end -}}
    {{- with resources.Get "pagefind/search-modal.css" -}}
        {{- $styles = $styles | append .  -}}
    {{- end -}}
{{- end -}}

{{- with resources.Get "css/custom.css" -}}
    {{- $styles = $styles | append .  -}}
{{- end -}}

{{- if gt (len $styles) 0 -}}
    {{- $rtxtStyles := $styles | resources.Concat "css/rtxt-styles.css" | minify | fingerprint -}}
    <link rel="stylesheet" type="text/css" href="{{ $rtxtStyles.RelPermalink }}" integrity="{{ $rtxtStyles.Data.Integrity }}" crossorigin="anonymous">
{{- end -}}
