{{- $alertTypes := slice "note" "tip" "important" "warning" "caution" -}}

{{- $type := lower (.AlertType | default "tip") -}}
{{- if not (in $alertTypes $type) -}}
    {{- $type = "tip" -}}
{{- end -}}

{{- $title := .AlertTitle -}}

{{- if eq .Type "alert" -}}
    <div class="callout-block callout-{{ $type }}">
{{- else -}}
    {{- $type = "note" -}}
    <div class="callout-block callout-note">
{{- end }}
    <div class="collapse-summary">
        <span class="callout-title" title="{{ i18n (printf "callout.%s" $type) }}">
            <svg class="icon"><use href="#{{ $type }}"></use></svg>
            <span>{{ title ($title | default (i18n (printf "callout.%s" $type)) | default $type) }}</span>
        </span>
        {{ partial "component/collapse.html" }}
    </div>
    <div class="collapse-content">{{ .Text }}</div>
</div>
