<footer class="footer-container">
    {{- with site.Params.footer -}}
    {{- if .enable }}
    <hr>
    <div class="footer-bar">
        {{- if .copyright }}
        <div class="footer-text">
            {{- .copyright | safeHTML -}}
        </div>
        {{- end -}}

        {{- if .poweredBy }}
        <div class="footer-text">
            {{- .poweredBy | safeHTML -}}
        </div>
        {{- end }}
    </div>
    {{- end -}}
    {{- end -}}

    {{- /* custom footer */ -}}
    {{ partial "custom/footer.html" . }}
</footer>
