{{- $footerEnable := true -}}
{{- if and (isset site.Params "footer") (isset site.Params.footer "enable") -}}
    {{- $footerEnable = site.Params.footer.enable -}}
{{- end -}}
{{- if $footerEnable -}}
<footer class="footer-container">
    <hr>
    {{ with site.Params.footer -}}
    <div class="footer-bar">
        {{ with .copyright -}}
        <div class="footer-text">
            {{- . | safeHTML -}}
        </div>
        {{- end -}}

        {{- with .poweredBy }}
        <div class="footer-text">
            {{- . | safeHTML -}}
        </div>
        {{- end }}
    </div>
    {{- end -}}

    {{- /* custom footer */ -}}
    {{ partial "custom/footer.html" . }}
</footer>
{{- end -}}
