{{- if site.Params.math.enable -}}
    {{- $engine := site.Params.math.engine -}}
    {{- if eq $engine "katex" -}}
    {{- $cdn := site.Params.math.katex.cdn -}}
    {{- $version := site.Params.math.katex.version -}}
    <link rel="stylesheet" type="text/css" href="{{ $cdn }}@{{ $version }}/dist/katex.min.css">
    <script defer src="{{ $cdn }}@{{ $version }}/dist/katex.min.js"></script>
    <script defer src="{{ $cdn }}@{{ $version }}/dist/contrib/auto-render.min.js"></script>
    {{- end -}}
{{- end -}}
