{{- $paginator := . -}}
{{- range $paginator.Pages }}
<div class="page">
    <div class="page-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ if .Draft }}<img src="/ui/draft.svg" alt="Draft" title="Draft">{{ end -}}
        {{- if gt .PublishDate now }}<img src="/ui/future.svg" alg="Future" title="Future">{{ end -}}
        {{- if and (isset .Params "expirydate") (lt .ExpiryDate now) }}<img src="/ui/expired.svg" alg="Expired" title="Expired">{{ end }}
    </div>
    <div class="page-meta">
        <img src="/ui/date.svg" alt="Date">
        <span>{{ .Lastmod | time.Format (site.Params.dateFormat | default "2006-01-02" ) }}</span>
    </div>
    {{ with .Summary -}}
    <div class="page-summary">{{ . | plainify }}</div>
    {{- end }}
    {{ with .Params.tags -}}
    <div class="page-meta">
        {{- range . }}
        <a href="{{ printf "tags/%s" . | relLangURL }}/"><img src="/ui/tag.svg" alt="Tag"><span>{{ . }}</span></a>
        {{- end }}
    </div>
    {{- end }}
</div>
{{- end -}}
