{{- $menu := .menu -}}
{{- $active := .active | default false -}}
{{- $more := .more | default false -}}

{{- $name := i18n (printf "menu.%s" ($menu.Identifier | default $menu.Name)) -}}
{{- if not $name -}}{{- $name = $menu.Name -}}{{- end -}}

{{ if $menu.Page -}}
    <a class="menu{{ if $active }} activated{{ end }}" href="{{ $menu.Page.RelPermalink }}" title="{{ $name }}">
{{- else if $menu.URL -}}
    <a class="menu" href="{{ $menu.URL }}" target="_blank" rel="noopener noreferrer" title="{{ $name }}">
{{- else -}}
    <span class="menu{{ if $active }} activated{{ end }}" title="{{ $name }}">
{{- end -}}

    {{- with $menu.Params.icon }}
        {{ if hasPrefix . "#" -}}
        {{ partial "component/svg-sprite.html" (dict "name" (strings.TrimLeft "#" .) "asset" "ui/static-ui.svg") }}
        {{- else -}}
        {{ partial "common/icon.html" (dict "name" .) }}
        {{- end -}}
    {{- end }}
    <span class="menu-text">
        <span>{{ $name }}</span>
        {{ if $more -}}
            {{ partial "component/svg-sprite.html" (dict "name" "chevron-down" "class" "icon" "asset" "ui/static-ui.svg") }}
        {{- end -}}
    </span>

{{- if or $menu.Page $menu.URL }}
    </a>
{{- else }}
    </span>
{{- end -}}
