<button class="menu-toggle" type="button" title="{{ i18n "menu.toggle" | default "Menu" }}">
    {{ partial "component/svg-sprite.html" (dict "mode" "external" "name" "menu" "asset" "ui/static-ui.svg") }}
</button>
<dialog id="menu-modal" class="menu-modal">
    <div class="menu-header">
        <span class="menu-title">{{ i18n "menu.toggle" | default "Menu" }}</span>
        <button class="menu-modal-close" type="button" title="{{ i18n "menu.close" | default "Close" }}">
            {{ partial "component/svg-sprite.html" (dict "mode" "external" "name" "x-close" "asset" "ui/static-ui.svg") }}
        </button>
    </div>
    <div class="menu-body">
        {{ partial "header/menu-body.html" . }}
    </div>
</dialog>
