@use "mixins" as *;
@use "colors" as *;

.archive-container {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
}

.archive-group {
    margin: 0 0 1rem;
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;

    .date {
        flex-shrink: 0;
        font-variant-numeric: tabular-nums;
        color: var(--text-meta-color);
        font-size: 0.9rem;
    }

    ul {
        margin: 0;
        padding: 0 0 0 2rem;
        list-style: none;
    }

    li {
        position: relative;
        margin: 0 -1rem;
        padding: 0.3rem 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-radius: 1rem;
        @include transition("background-color", 0.3s, ease);

        &:hover {
            background-color: color-mix(in srgb, $theme-color 10%, transparent);
        }
    }
}

.archive-title {
    margin: 0 0 0.5rem;
    gap: 0.2rem;
    font-weight: 600;
    text-align: start;
    cursor: pointer;
    @include transition("color", 0.3s, ease);

    &:hover {
        color: $theme-color;
    }

    &.year {
        font-size: 1.4rem;
    }

    &.month {
        font-size: 1.2rem;
    }
}

.archive-item {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    @include transition("color", 0.3s, ease);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}
