@use "mixins" as *;
@use "colors" as *;

.badge-sc {
    margin-right: 0.4rem;
    padding: 0.1rem 0.5rem;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 0.2rem;
    @include border(currentColor, 0.6rem);
    overflow: clip;
    font-size: 0.8rem;
    color: $theme-color;
    background-color: color-mix(in srgb, currentColor 30%, white);
    text-decoration: none;
    user-select: none;
    @include transition(transform, 0.3s, ease);
}

a.badge-sc {
    &:hover {
        transform: translateY(-4px);
        text-decoration: none;
    }

    &:active {
        transform: scale(0.9);
    }
}
