@use "mixins" as *;
@use "colors" as *;
@use "layers" as *;

.katex-display {
    margin: 1em !important;
    padding: 0 !important;
    overflow: auto clip !important;
    @include thin-scrollbar(transparent, transparent);

    &:hover {
        scrollbar-color: $scrollbar-thumb $scrollbar-track;
    }

    .katex .katex-tag {
        position: sticky !important;
        z-index: z-index(math) !important;
        right: 0 !important;
        padding: 0 1em !important;
        display: inline-block !important;
        background-color: var(--bg) !important;
    }
}



mjx-container[display] {
    @include thin-scrollbar(transparent, transparent);

    &:hover {
        scrollbar-color: $scrollbar-thumb $scrollbar-track;
    }

    > mjx-math > mjx-mtable {
        min-width: 0 !important;

        > mjx-table {
            margin: 0 !important;
            padding: 0 1em !important;
            min-width: 0 !important;
        }
    }
}
