.scroll-button {
    border-radius: 0.4rem;
    overflow: hidden;
    color: var(--text-meta-color);
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &:hover {
        color: var(--text-meta-hover-color);
    }
}
