@use "mixins" as *;
@use "colors" as *;
@use "size" as *;

table {
    margin: 1rem 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
    overflow: clip;
    border-spacing: 0;
    border-top: 2px solid $theme-color;
    border-bottom: 2px solid $theme-color;
}

th,
td {
    padding: 0.4em 0.9em;
    border: none;
    font-size: 0.9em;
    @include transition("background-color", 0.3s, ease);
}

th {
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid $theme-color;
}

td {
    text-align: left;
}

tbody tr:hover td {
    background-color: color-mix(in srgb, $theme-color 10%, transparent);
}

table#list {
    color: var(--text-color);

    th,
    td {
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
    }

    th a {
        color: $theme-color;
    }

    td a {
        color: var(--text-color);
    }
}
