@use "mixins" as *;
@use "colors" as *;
@use "size" as *;

.tabs {
    margin: 2rem 0;
    @include border($block-border, $block-border-radius);
    overflow: clip;

    .tabs-nav {
        display: flex;
        align-items: stretch;
        gap: 0.2rem;
        box-shadow: inset 0 -1px 0 $block-border;

        .scroll-button {
            align-self: center;
            margin: 0.2rem;
            font-size: 1.2rem;

            &.visible:hover {
                transform: scale(1.2);
            }

            &.visible:active {
                transform: scale(0.9);
            }
        }
    }

    .tabs-panel {
        padding: 1rem;
        display: none;

        &.activated {
            display: block;
        }
    }
}

.tabs-nav-scroll {
    display: flex;
    flex: 1;
    align-items: stretch;
    overflow: auto clip;
    padding-bottom: 1px;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
}

.tabs-button {
    margin: 0 0.2rem -1px;
    padding: 0.4rem 0.8rem;
    gap: 0.2rem;
    @include border(transparent, 1rem);
    font-size: 0.9rem;
    color: var(--text-meta-color);
    background-color: transparent;
    @include transition("color, border-color, background-color", 0.3s, ease);

    &:hover {
        color: var(--text-meta-hover-color);
        background-color: var(--button-bg);
    }

    &.activated {
        &,
        &:hover {
            color: $theme-color;
            background-color: var(--bg);
            border-color: $theme-color;
        }
    }

    > span {
        @include ellipsis($tabs-button-max-width);
    }
}
