{{- $enable := true -}}
{{- if isset .Params "enable_breadcrumb" -}}
    {{- $enable = .Params.enable_breadcrumb -}}
{{- else if and (isset site.Params "features") (isset site.Params.features "enable_breadcrumb") -}}
    {{- $enable = site.Params.features.enable_breadcrumb -}}
{{- end -}}

{{- $firstSection := .FirstSection -}}

{{- if and $enable (not .IsHome) (ne $firstSection.RelPermalink .RelPermalink) -}}
<nav class="breadcrumb">
    <ol>
    {{- range .Ancestors.Reverse }}
        {{ if not .IsHome -}}
            {{- if eq $firstSection.RelPermalink .RelPermalink -}}
            <li><a href="{{ .RelPermalink }}">{{ i18n (printf "section.%s" .Section) }}</a></li>
            {{- else -}}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{- end -}}
        {{- end }}
    {{- end }}
        <li class="activated"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    </ol>
</nav>
{{- end -}}
