{{- $paginator := . -}}
{{- range $paginator.Pages }}
<div class="page">
    <div class="page-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ if .Draft -}}
            <svg class="icon"><title>{{ i18n "status.draft" }}</title><use href="#draft"></use></svg>
        {{- end }}
        {{ if gt .PublishDate now -}}
            <svg class="icon"><title>{{ i18n "status.future" }}</title><use href="#future"></use></svg>
        {{- end }}
        {{ if and (isset .Params "expirydate") (lt .ExpiryDate now) -}}
            <svg class="icon"><title>{{ i18n "status.expired" }}</title><use href="#expired"></use></svg>
        {{- end }}
    </div>
    <div class="page-meta">
        <svg class="icon"><title>{{ i18n "date_lastmod" }}</title><use href="#date"></use></svg>
        <span>{{ .Lastmod | time.Format (site.Params.dateFormat | default "2006-01-02" ) }}</span>
    </div>
    {{ with .Summary -}}
    <div class="page-summary">{{ . | plainify }}</div>
    {{- end }}
    {{ with .GetTerms "tags" -}}
    <div class="page-meta">
        {{- range . }}
        <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
            <svg class="icon"><use href="#tag"></use></svg>
            <span>{{ .LinkTitle }}</span>
        </a>
        {{- end }}
    </div>
    {{- end }}
</div>
{{- end -}}
