{{- $enableToc := true -}}
{{- if isset .Params "enable_toc" -}}
    {{- $enableToc = .Params.enable_toc -}}
{{- else if and (isset site.Params "features") (isset site.Params.features "enable_toc") -}}
    {{- $enableToc = site.Params.features.enable_toc -}}
{{- end -}}

{{- $enableTag := true -}}
{{- if isset .Params "enable_tag" -}}
    {{- $enableTag = .Params.enable_tag -}}
{{- else if and (isset site.Params "features") (isset site.Params.features "enable_tag") -}}
    {{- $enableTag = site.Params.features.enable_tag -}}
{{- end -}}

{{- $enable := and .IsPage (or $enableToc $enableTag) -}}

{{- if $enable -}}
<div class="right-side visible">
    {{- if $enableToc }}
    <div class="toc">
        <div class="title">{{ i18n "toc.title" }}</div>
        {{ .TableOfContents }}
    </div>
    {{- end -}}

    {{- if $enableTag -}}
    {{- with .GetTerms "tags" }}
    <div class="meta">
        <hr>
        {{- range . }}
        <a class="tag" href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
            {{ partial "component/svg-sprite.html" (dict "name" "hash-static" "class" "icon" "asset" "ui/static-ui.svg") }}
            <span>{{ .LinkTitle }}</span></a>
        {{- end }}
    </div>
    {{- end -}}
    {{- end -}}
</div>
{{- else -}}
<div class="right-side"></div>
{{- end -}}
