{{- $enableToc := true -}}
{{- if isset .Params "enable_toc" -}}
    {{- $enableToc = .Params.enable_toc -}}
{{- else if and (isset site.Params "features") (isset site.Params.features "enable_toc") -}}
    {{- $enableToc = site.Params.features.enable_toc -}}
{{- end -}}

{{- $enableTag := true -}}
{{- if isset .Params "enable_tag" -}}
    {{- $enableTag = .Params.enable_tag -}}
{{- else if and (isset site.Params "features") (isset site.Params.features "enable_tag") -}}
    {{- $enableTag = site.Params.features.enable_tag -}}
{{- end -}}

<div class="toc-container{{ if and .IsPage (or $enableToc $enableTag) }} visible{{ end }}">
    {{- if $enableToc }}
    <div class="toc-doc">
        <p class="toc-title">{{ i18n "toc.title" }}</p>
        {{ .TableOfContents }}
    </div>
    {{- end -}}

    {{- if $enableTag -}}
    {{- with .GetTerms "tags" }}
    <div class="toc-meta">
        {{ if $enableToc -}}
        <hr>
        {{- end }}
        <div class="toc-tags">
            {{- range . }}
            <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
                {{ partial "component/svg-sprite.html" (dict "name" "tag" "class" "icon" "asset" "ui/static-ui.svg") }}
                <span>{{ .LinkTitle }}</span></a>
            {{- end }}
        </div>
    </div>
    {{- end -}}
    {{- end -}}
</div>
