.archive-container {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
}

.archive-group {
    margin: 0 0 1rem;
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
}

.archive-title {
    margin: 0 0 0.5rem;
    display: list-item;
    font-weight: 600;
    text-align: start;
    cursor: pointer;
}

.archive-title.year {
    font-size: 1.5rem;
}

.archive-title.month {
    font-size: 1.2rem;
}

.archive-group ul {
    margin: 0;
    padding: 0 0 0 2rem;
    list-style: none;
}

.archive-group li {
    margin: 0.4rem 0;
}

.archive-item {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.archive-item:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.archive-item .date {
    margin-right: 0.8rem;
    flex-shrink: 0;
    color: var(--text-meta-color);
    font-size: 0.9rem;
}
