.backtop-container {
    position: sticky;
    z-index: 99;
    bottom: calc(var(--paginator-height) + 1rem);
    margin-bottom: 0.5rem;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.backtop-button {
    width: var(--backtop-height);
    height: var(--backtop-height);
    border: var(--block-border);
    border-radius: var(--backtop-height);
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--bg);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.6s ease, visibility 0.6s ease, transform 0.6s ease;
}

.backtop-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backtop-button:hover {
    transform: translateY(-4px) scale(1.1);
}

.backtop-button:active {
    transform: scale(0.9);
}

.backtop-button img,
.backtop-button svg {
    width: var(--backtop-height);
    height: var(--backtop-height);
    vertical-align: middle;
}
