.backtop-container {
    position: sticky;
    z-index: 99;
    bottom: calc(var(--paginator-height) + 2rem);
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.backtop-button {
    width: var(--backtop-height);
    height: var(--backtop-height);
    border-radius: var(--backtop-height);
    overflow: hidden;
    font-weight: 700;
    font-size: 1rem;
    color: var(--theme-color);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.backtop-button.visible {
    opacity: 1;
    visibility: visible;
}

.backtop-button:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}

.backtop-button:active {
    transform: scale(0.9);
}

.backtop-button img,
.backtop-button svg {
    width: var(--backtop-height);
    height: var(--backtop-height);
    vertical-align: middle;
}
