.badge-sc {
    margin-right: 0.4em;
    padding: 0.1em 0.5em;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 0.2em;
    border: 1px solid currentColor;
    border-radius: 0.6em;
    overflow: hidden;
    font-size: 0.8em;
    color: var(--theme-color);
    background-color: color-mix(in srgb, currentColor 30%, white);
    text-decoration: none;
    user-select: none;
    transition: transform 0.6s ease;
}

a.badge-sc:hover {
    transform: scale(1.05, 1.1);
    text-decoration: none;
}

.badge-sc:active {
    transform: scale(0.9);
}
