:root {
    --theme-color: #008000;
    --theme-hover-color: #008f00;
    --bg: #ffffff;
    --fg: #141414;
    --text-size-base: 1rem;
    --text-color: #141414;
    --text-meta-color: #505050;
    --text-meta-hover-color: #141414;
    --text-bar-color: #505050;
    --text-bar-hover-color: #141414;
    --nav-bg: rgba(255, 255, 255, 0.8);
    --nav-bf: blur(12px) saturate(180%);
    --nav-shadow: 0 2px 4px rgba(0, 0 ,0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.06);
    --nav-height: 4rem;
    --main-max-width: 90rem;
    --side-max-width: 16rem;
    --content-max-width: 50rem;
    --meta-tag-max-width: 15rem;
    --filename-max-width: 15rem;
    --backtop-height: 2.5rem;
    --paginator-height: 2.5rem;
    --hr-color: #d7d7d7;
    --scrollbar-color: rgba(0, 128, 0, 0.8) transparent;
    --link-color: #0aa344;
    --link-hover-color: #0aa344;
    --code-inline-bg: #ebebeb;
    --text-border: 1px solid #008000;
    --table-th-bg: #008000;
    --table-th-fg: #ffffff;
    --table-even: #ebebeb;
    --block-border: none;
    --block-box-shadow: 0 8px 16px rgb(200, 200, 200);
    --block-Note-color: #00e600;
    --block-Note-bg: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: #008000;
        --theme-hover-color: #008f00;
        --bg: #111111;
        --fg: #ebebeb;
        --text-size-base: 1rem;
        --text-color: #ebebeb;
        --text-meta-color: #cdcdcd;
        --text-meta-hover-color: #ebebeb;
        --text-bar-color: #cdcdcd;
        --text-bar-hover-color: #ebebeb;
        --nav-bg: rgba(1, 1, 1, 0.8);
        --nav-bf: blur(12px) saturate(180%);
        --nav-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
        --nav-height: 4rem;
        --main-max-width: 90rem;
        --side-max-width: 16rem;
        --content-max-width: 50rem;
        --meta-tag-max-width: 15rem;
        --filename-max-width: 15rem;
        --backtop-height: 2.5rem;
        --paginator-height: 2.5rem;
        --hr-color: #282828;
        --scrollbar-color: rgba(0, 128, 0, 0.8) transparent;
        --link-color: #0aa344;
        --link-hover-color: #0aa344;
        --code-inline-bg: #3c3c3c;
        --text-border: 1px solid #008000;
        --table-th-bg: #008000;
        --table-th-fg: #ffffff;
        --table-even: #ebebeb;
        --block-border: none;
        --block-box-shadow: 0 8px 16px rgb(200, 200, 200);
        --block-Note-color: #b9f8cf;
        --block-Note-bg: #0d542b;
    }
}
