.callout-block {
    margin: 1rem 0;
    border: var(--block-border);
    border-radius: var(--block-border-radius);
    overflow: hidden;
    color: var(--quote-color);
    background-color: var(--block-bg);
    box-shadow: var(--block-shadow);
}

.callout-note {
    --quote-color: #0038f3;
}

.callout-tip {
    --quote-color: #008000;
}

.callout-important {
    --quote-color: #9b00ec;
}

.callout-warning {
    --quote-color: #ff6800;
}

.callout-caution {
    --quote-color: #ff0000;
}

.callout-block .collapse-summary,
.callout-block .collapse-content {
    padding: 0.8rem 1rem;
}

.callout-block .collapse-summary {
    font-size: 1.1em;
    font-weight: 600;
}

.callout-block .collapse-summary {
    background-color: var(--block-summary-bg);
}

.callout-block .callout-title {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
}

.callout-block .callout-title > span {
    max-width: var(--block-title-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
