code {
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
    font-family: ui-monospace, Monaco, SFMono-Regular, Menlo, Consolas, monospace;
    font-size: 0.9em;
    background-color: var(--code-inline-bg);
}

pre {
    margin: 0;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0;
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
}

pre code {
    padding: 0;
    background-color: transparent;
    font-size: 0.9em;
}

.code-block {
    margin: 1rem 0;
    border: var(--code-border);
    border-radius: var(--block-border-radius);
    overflow: hidden;
    box-shadow: var(--block-shadow);
}

.code-block .highlight {
    margin: 0;
}

.code-block .highlight table {
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
    border: none;
    box-shadow: none;
}

.code-block .collapse-summary {
    font-size: 0.9em;
    font-weight: 600;
}

.code-block .collapse-summary {
    padding: 0.5rem 1rem;
}

.code-block .code-filename {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    font-family: ui-monospace, Monaco, SFMono-Regular, Menlo, Consolas, monospace;
    color: var(--text-meta-color);
}

.code-block .code-filename > span {
    max-width: var(--block-title-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code-block a.code-filename {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.code-block a.code-filename:hover {
    color: var(--text-meta-hover-color);
    text-decoration: underline;
}

.code-block a.code-filename:active {
    transform: scale(0.9);
}
