#content code {
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
    font-family: ui-monospace, Monaco, SFMono-Regular, Menlo, Consolas, monospace;
    font-size: 0.9em;
    background-color: var(--code-inline-bg);
}

#content pre {
    margin: 0;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0;
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
}

#content pre code {
    padding: 0;
    background-color: transparent;
    font-size: 0.9em;
}

#content .code-block {
    margin: 1rem 0;
    border: var(--code-border);
    border-radius: 1.25rem;
    box-shadow: var(--block-shadow);
    overflow: hidden;
}

#content .code-block .highlight {
    margin: 0;
}

#content .code-block .highlight table {
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
    border: none;
    box-shadow: none;
}

#content .code-header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#content .code-filename {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    font-family: ui-monospace, Monaco, SFMono-Regular, Menlo, Consolas, monospace;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text-meta-color);
}

#content .code-filename > span {
    max-width: var(--filename-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content a.code-filename {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

#content a.code-filename:hover {
    color: var(--theme-color);
    text-decoration: none;
}

#content a.code-filename:active {
    transform: scale(0.9);
}

#content .code-copy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    background-color: transparent;
    color: var(--text-meta-color);
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

#content .code-copy:hover {
    color: var(--text-meta-hover-color);
    opacity: 1;
    transform: scale(0.9);
}

#content .code-copy .code-copy-check,
#content .code-copy .code-copy-failed,
#content .code-copy.copied .code-copy-copy,
#content .code-copy.copied .code-copy-failed,
#content .code-copy.failed .code-copy-copy,
#content .code-copy.failed .code-copy-check {
    display: none;
}

#content .code-copy .code-copy-copy,
#content .code-copy.copied .code-copy-check,
#content .code-copy.failed .code-copy-failed {
    display: inline-flex;
    align-items: center;
}
