.copy-button {
    padding: 0.2rem;
    gap: 0.2rem;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.6s ease, transform 0.6s ease;
}

.copy-button:hover {
    color: var(--text-meta-hover-color);
    transform: scale(1.1);
}

.copy-button:active {
    transform: scale(0.9);
}

.copy-button .copy-show,
.copy-button.copied .copy-successful,
.copy-button.failed .copy-failed {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.copy-button .copy-successful,
.copy-button .copy-failed,
.copy-button.copied .copy-show,
.copy-button.copied .copy-failed,
.copy-button.failed .copy-show,
.copy-button.failed .copy-successful {
    display: none;
}
