figure {
    margin: 0.4em 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--block-border);
    border-radius: var(--block-border-radius);
    overflow: hidden;
}

figure img {
    margin: 0;
    max-width: 100%;
    height: auto;
    display: block;
}

figure figcaption {
    padding: 0.5em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-meta-color);
    font-size: 0.9em;
}

@media (max-width: 50rem) {
    figure figcaption {
        padding: 0.5em 2em;
    }
}
