#content figure {
    margin: 0.4em 0;
    border: var(--block-border);
    border-radius: 1.25rem;
    box-shadow: var(--block-box-shadow);
    overflow: hidden;
}

#content figure img {
    margin: 0;
    max-width: 100%;
    display: block;
}

#content figure figcaption {
    padding: 0.5em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: var(--text-meta-color);
    font-size: 0.9em;
}

@media (max-width: 50rem) {
    #content figure figcaption {
        padding: 0.5em 2em;
    }
}
