.icon-sc {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.icon-sc img,
.icon-sc svg {
    width: auto;
    height: 1.2em;
    vertical-align: middle;
}
