ul,
ol {
    margin: 0.4em 0;
    padding-left: 1.4em;
}

li {
    margin: 0.2em 0;
    align-items: center;
}

li > ul,
li > ol {
    margin: 0;
}

@keyframes pop {
    0%   { transform: scale(1); }
    50%  { transform: scale(0.8); }
    100% { transform: scale(1); }
}

ul:has(> li > input[type="checkbox"]) {
    padding-left: 0;
}

li:has(> input[type="checkbox"]) {
    list-style: none;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    box-sizing: border-box;

    position: relative;
    margin:0 0.4em;
    display: inline-block;
    /* vertical-align: middle; */
    width: 1.2em;
    height: 1.2em;
    border: 1px solid var(--list-bg);
    border-radius: 0.4em;
    background-color: var(--list-bg);
    transition: color 0.6s ease, background-color 0.6s ease;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    border: 1px solid transparent;
    background-color: var(--theme-color);
    animation: pop 0.6s ease-in-out;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.2em;
    background-color: var(--bg);
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

input[type="checkbox"]::before {
    width: 0.5em;
    height: 0.2em;
    transform: translate(10%, 290%);
}

input[type="checkbox"]::after {
    width: 0.8em;
    height: 0.2em;
    transform: translate(30%, 240%);
}

input[type="checkbox"]:checked::before {
    opacity: 1;
    transform: translate(10%, 290%) rotate(45deg);
}

input[type="checkbox"]:checked::after {
    opacity: 1;
    transform: translate(0, 0);
    transform: translate(30%, 240%) rotate(-45deg);
}
