html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-size: var(--text-size-base);
    background-color: var(--bg);
    color: var(--fg);
}

main {
    display: flex;
    flex: 1;
}

p {
    margin: 0.5rem 0;
}

hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--hr-color);
}

svg {
    max-width: 100%;
    width: auto;
    height: 1.2em;
    vertical-align: middle;
}

img.icon,
svg.icon {
    max-width: 100%;
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    vertical-align: middle;
}

button {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border: var(--button-border);
    color: var(--theme-color);
    background-color: transparent;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 0.2em;
}

.main-container,
.content-wrap {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    margin: 0 auto;
    max-width: var(--main-max-width);
}

.content-wrap {
    margin: 0 0;
    padding: 0 2rem;
    max-width: var(--content-max-width);
    min-width: 0;
    flex-direction: column;
}

.content-container {
    width: 100%;
    min-width: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-wrap: break-word;
}

.content-body {
    padding: 1rem 0 0;
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    overflow-wrap: break-word;
}
