#content > *:first-child {
    margin-top: 1rem;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    margin: 0.4rem 0 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 700;
    color: var(--text-color);
    scroll-margin-top: calc(var(--nav-height) + 1rem);
}

#content h1 {
    margin: 1rem 0 2rem;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--hr-color);
}

#content h2 {
    margin: 1rem 0;
    padding-bottom: 0.2rem;
    font-size: 1.4rem;
}

#content h3 {
    font-size: 1.3rem;
}

#content h4 {
    font-size: 1.2rem;
}

.heading-anchor {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: color 0.3s ease, opacity 0.3s ease;
}

#content h1:hover .heading-anchor,
#content h2:hover .heading-anchor,
#content h3:hover .heading-anchor,
#content h4:hover .heading-anchor,
#content h5:hover .heading-anchor,
#content h6:hover .heading-anchor {
    opacity: 1;
}
