.title {
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-wrap: balance;
}

.page {
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.page-title {
    margin: 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.page-title a {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

.page-title a:hover {
    text-decoration: none;
}

.page-meta,
.content-meta {
    margin: 0 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--text-meta-color);
}

.page-meta {
    font-size: 0.8rem;
}

.content-meta {
    justify-content: flex-end;
}

.page-meta a {
    display: inline-flex;
    align-items: center;
    opacity: 0.8;
    color: var(--text-meta-color);
    text-decoration: none;
}

.page-meta a > span {
    max-width: var(--meta-tag-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-meta a:hover {
    color: var(--text-meta-hover-color);
    opacity: 1;
    text-decoration: none;
}

.page-summary {
    margin: 0 0 0.5rem;
    opacity: 0.8;
}
