.paginator-container {
    position: sticky;
    z-index: 99;
    bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.paginator-container a,
.paginator-container a:hover {
    color: var(--theme-color);
    text-decoration: none;
    cursor: pointer;
}

.paginator-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 1rem;
}

.paginator-button,
.paginator-number-button {
    height: var(--paginator-height);
    border-radius: var(--paginator-height);
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--bg);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.paginator-button {
    width: var(--paginator-height);
}

.paginator-button.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.paginator-button:hover,
.paginator-number-button:hover {
    transform: translateY(-4px) scale(1.1);
}

.paginator-button:active {
    transform: scale(0.9);
}

.paginator-button img,
.paginator-button svg {
    width: var(--paginator-height);
    height: var(--paginator-height);
    vertical-align: middle;
}

.paginator-number-button {
    padding: 0 0.5rem;
}

.paginator-number-button > span {
    max-width: var(--paginator-number-max-width);
    min-width: var(--paginator-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
