.right-side {
    position: sticky;
    z-index: 80;
    order: 10;
    top: calc(var(--nav-height) + 1rem);
    margin-right: 2rem;
    margin-top: 1rem;
    width: var(--side-max-width);
    height: calc(90dvh - var(--nav-height));
    border-radius: var(--block-border-radius);
    display: flex;
    flex-shrink: 0;
    align-self: flex-start;
    flex-direction: column;
    background-color: var(--side-bg);
    font-size: 0.9rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 70rem) {
    .right-side {
        display: none;
    }
}

.right-side.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.right-side a {
    display: inline-flex;
    align-items: center;
    color: var(--text-meta-color);
    opacity: 0.8;
    transition: color 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
}

.right-side a:hover {
    color: var(--text-meta-hover-color);
    opacity: 1;
    text-decoration: none;
}

.right-side .toc {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.right-side .toc .title {
    position: sticky;
    z-index: 81;
    top: 0;
    margin: 0;
    padding: 1rem 0 0.5rem 0.5rem;
    width: 100%;
    justify-content: flex-start;
    background-color: var(--side-bg);
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}

.right-side .toc ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
}

.right-side .toc li {
    margin: 0;
    padding: 0;
}

.right-side .meta {
    position: sticky;
    z-index: 81;
    bottom: 0;
    margin: auto 0 0;
    flex: none;
    padding: 0.5rem 0 1rem 0.5rem;
    background-color: var(--side-bg);
}

.right-side .meta hr {
    margin: 0.5rem 0;
    width: 100%;
}
