.side-container,
.toc-container {
    position: sticky;
    z-index: 98;
    top: calc(var(--nav-height) + 1rem);
    width: var(--side-max-width);
    height: calc(100dvh - var(--nav-height) - var(--paginator-height) - var(--backtop-height));
    border-radius: var(--block-border-radius);
    display: flex;
    flex-shrink: 0;
    align-self: flex-start;
    flex-direction: column;
    background-color: var(--side-bg);
    font-size: 0.9rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    scrollbar-gutter: stable;
}

@media (max-width: 70rem) {
    .side-container,
    .toc-container {
        display: none;
    }
}

.side-container {
    margin-left: 2rem;
}

.toc-container {
    order: 9998;
    margin-right: 2rem;
    padding-left: 0.5rem;
}

.side-container a,
.toc-container a {
    display: inline-flex;
    align-items: center;
    color: var(--text-meta-color);
    opacity: 0.8;
    transition: color 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
}

.side-container a:hover,
.toc-container a:hover {
    color: var(--text-meta-hover-color);
    opacity: 1;
    text-decoration: none;
}

.side-doc,
.toc-doc {
    margin: 1rem 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.side-title,
.toc-title {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
}

.side-doc ul,
.toc-doc ul {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
}

.side-doc li,
.toc-doc li {
    margin: 0;
    padding: 0;
    color: var(--text-meta-color);
}

.side-doc li:hover,
.toc-doc li:hover {
    color: var(--text-meta-hover-color);
}

.toc-meta {
    position: sticky;
    bottom: 0;
    padding: 0.5rem 0 1rem;
    height: 5rem;
    background-color: var(--side-bg);
}

.toc-meta a {
    display: inline-flex;
    align-items: center;
    opacity: 0.8;
}

.toc-meta a > span {
    max-width: var(--meta-tag-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-meta a:hover {
    opacity: 1;
    text-decoration: none;
}

.toc-tags {
    margin: 0.5rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0 1rem;
    color: var(--text-meta-color);
}

.toc-tags img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}
