table {
    margin: 1rem 0;
    width: 100%;
    display: block;
    border: var(--block-border);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--block-border-radius);
    overflow: hidden;
}

th,
td {
    padding: 1em 1.25rem;
    /* border-bottom: 1px solid var(--hr-color); */
    /* border-right: 1px solid var(--hr-color); */
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:last-child th,
tr:last-child td {
    border-bottom: none;
}

th {
    font-weight: 600;
    background-color: var(--table-th-bg);
    color: var(--table-th-fg);
}

tbody tr:nth-child(even) td {
    background-color: var(--table-even);
}
