.nav-container {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    background: transparent;
}

.nav-blur {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--nav-blur-bg);
    box-shadow: var(--nav-shadow);
    backdrop-filter: blur(12px) saturate(180%);
    pointer-events: none;
}

.nav-bar {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: var(--main-max-width);
    height: var(--nav-bar-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.nav-logo,
.menu,
.menu-activate {
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    transition: color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.nav-logo:active,
.menu:active,
.menu-activate:active {
    transform: scale(0.95);
}

.nav-logo img,
.nav-log svg,
.menu img,
.menu svg,
.menu-activate img,
.menu-activate svg {
    width: 2em;
    height: 2em;
}

.nav-logo {
    margin-right: auto;
    gap: 0.5rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--text-regular-color);
}

.nav-logo:hover {
    color: var(--text-regular-color);
    opacity: 0.8;
}

.menu,
.menu-activate {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

@media (max-width: 50rem) {
    .menu,
    .menu-activate {
        display: none;
    }
}

.menu {
    color: var(--text-bar-color);
}

.menu-activate {
    color: var(--text-regular-color);
}

.menu:hover {
    color: var(--text-bar-hover-color);
}

.main-container,
.content-wrap {
    margin: 0 auto;
    max-width: var(--main-max-width);
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrap {
    padding: 0 2rem;
    max-width: var(--content-max-width);
    flex-direction: column;
}

.side-container,
.toc-container {
    position: sticky;
    z-index: 98;
    top: calc(var(--nav-bar-height) + 2rem);
    width: var(--side-max-width);
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

@media (max-width: 60rem) {
    .side-container,
    .toc-container {
        /* transform: translate3d(0, -100%, 0); */
        display: none;
    }
}

.side-container {
    padding-left: 2rem;
}

.toc-container {
    order: 998;
    padding-right: 2rem;
}

.side-doc,
.toc-doc {
    display: flex;
    flex-direction: column;
}

.paginator-container {
    position: sticky;
    z-index: 99;
    bottom: 0;
    width: 100%;
}

.paginator-nav {
    padding: 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 1rem;
}

.paginator-button,
.paginator-button-hidden {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    width: var(--paginator-height);
    height: var(--paginator-height);
    border-radius: 50%;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
    color: var(--theme-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.paginator-button-hidden {
    pointer-events: none;
    opacity: 0;
}

.paginator-button:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}

.paginator-button:active {
    transform: scale(0.95);
}

.paginator-button img,
.paginator-button svg,
.paginator-button-hidden img,
.paginator-button-hidden svg {
    width: var(--paginator-height);
    height: var(--paginator-height);
}

.backtop-container {
    position: sticky;
    z-index: 99;
    bottom: calc(var(--paginator-height) + 2rem);
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.backtop-button {
    margin: 0;
    border: none;
    padding: 0;
    display: none;
    background-color: var(--bg);
    width: var(--backtop-height);
    height: var(--backtop-height);
    border-radius: 50%;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: var(--theme-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.backtop-button:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}

.backtop-button:active {
    transform: scale(0.95);
}

.backtop-button img,
.backtop-button svg {
    width: var(--backtop-height);
    height: var(--backtop-height);
}

.content-container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-wrap: break-word;
}

.content-body {
    padding: 1rem 0 0;
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-regular-color);
    text-align: center;
    text-wrap: balance;
}

.title img,
.title svg {
    width: 1.2em;
    height: 1.2em;
}

.page {
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.page-title {
    margin: 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--text-regular-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.page-title img,
.page-title svg {
    width: 1.2em;
    height: 1.2em;
}

.page-title-ele {
    display: inline-flex;
    align-items: flex-end;
    color: var(--text-regular-color);
    text-decoration: none;
}

.page-meta,
.content-meta {
    margin: 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--text-meta-color);
    white-space: nowrap;
}

.page-meta img,
.page-meta svg,
.content-meta img,
.content-meta svg {
    width: 1.2em;
    height: 1.2em;
}

.page-meta {
    font-size: 0.8rem;
}

.content-meta {
    justify-content: flex-end;
}

.page-meta-ele {
    display: inline-flex;
    align-items: flex-end;
    opacity: 0.8;
    color: var(--text-meta-color);
    text-decoration: none;
}

.page-meta-ele:hover {
    color: var(--text-meta-hover-color);
    opacity: 1;
}

.page-summary {
    margin: 0 0 0.5rem;
    opacity: 0.8;
}

.footer-container,
.footer-container a {
    color: var(--text-bar-color);
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-bar {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    max-width: var(--main-max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-text {
    font-size: 0.75rem;
}

.footer-text img {
    height: 0.75rem;
    display: inline-block;
}
