.nav-container {
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    background: transparent;
}

.nav-blur {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    pointer-events: none;
}

.nav-bar {
    margin: 0 auto ;
    max-width: 90rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0 1.5rem;
}

.nav-logo-links {
    margin-right: auto;
    display: flex;
    align-items: center;
    color: var(--fg);
    text-decoration: none;
}
.nav-logo-links:hover {
    opacity: 0.75;
    text-decoration: none;
}

.nav-logo-img {
    margin-right: 0.5rem;
    width: auto;
    height: 3rem;
    display: inline-block;
}

.nav-logo-text {
    margin-right: 0.5rem;
    font-weight: 800;
    font-size: 1.5rem;
    user-select: none;
}

.menu {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-gray);
    text-decoration: none;
    user-select: none;
    transition: color 0.2s;
}

.menu:hover {
    text-decoration: none;
    color: var(--text-gray-hover);
}

.menu img {
    height: 2rem;
}

.footer-container {
    margin: 0 auto;
    padding: 0.5rem 0;
    max-width: 90rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
}

.footer-text {
    font-size: 0.75rem;
}

.footer-text img {
    height: 0.75rem;
    display: inline-block;
}
