// Breakpoints
$breakpoint-narrow: 50rem;
$breakpoint-side: 70rem;

// Layout sizes
$nav-height: 4rem;
$main-max-width: 90rem;
$side-max-width: 16rem;
$content-max-width: 50rem;

// Component sizes
$backtop-height: 2.5rem;
$paginator-height: 2.5rem;

// Text size
$text-size-base: 1rem;
$paginator-number-max-width: 7.5rem;
$breadcrumb-max-width: 12rem;
$side-text-max-width: 12rem;
$meta-tag-max-width: 12rem;
$tabs-button-max-width: 12rem;

// Radius size
$block-border-radius: 1rem;


// ========== Media ==========

// Text size
$block-title-max-width: 20rem;
