{{ define "main" }}
{{- /* 
    $taxonomyObject := site.Taxonomies.series
    $taxonomyObject := .Data.Terms

    $termPages := sort .Pages "LinkTitle" "asc"
    $termPages := slice
    range $taxonomyObject.Alphabetical
        $termPages = $termPages | append .Page
*/ -}}

{{- $pagerSize := site.Params.taxonomy.pagerSize | default 50 -}}

{{- $pages := slice -}}
{{- range .Data.Terms.Alphabetical -}}
    {{- $pages = $pages | append .Page -}}
{{- end -}}

{{- $paginator := .Paginate $pages $pagerSize -}}
<div class="main-container">
    <div class="content-wrap">
        {{ partial "component/breadcrumb.html" . }}
        <article class="content-container">
            <div class="content-body">
                <h1 class="title">{{ .Title }}</h1>
                <div class="taxonomy-grid">
                    {{- range $paginator.Pages }}
                    <a class="taxonomy" href="{{ .RelPermalink }}">
                        {{ partial "component/svg-sprite.html" (dict "mode" "inline" "name" "hash" "class" "icon") }}
                        <span>{{ .Data.Term }}</span>
                    </a>
                    {{- end -}}
                </div>
            </div>
        </article>
        {{ partial "component/backtop.html" }}
        {{ partial "component/paginator.html" $paginator }}
    </div>
</div>
{{ end }}
