{{ define "main" }}
{{- /* 
    $taxonomyObject := site.Taxonomies.series
    $taxonomyObject := .Data.Terms

    $termPages := sort .Pages "LinkTitle" "asc"
    $termPages := slice
    range $taxonomyObject.Alphabetical
        $termPages = $termPages | append .Page
*/ -}}

{{- $pages := slice -}}
{{- range .Data.Terms.Alphabetical -}}
    {{- $pages = $pages | append .Page -}}
{{- end -}}

{{- $paginator := .Paginate $pages -}}
<div class="main-container">
    <div class="content-wrap">
        {{ partial "page/breadcrumb.html" . }}
        <article class="content-container">
            <div class="content-body">
                <h1 class="title">{{ .Title }}</h1>
                {{ partial "page/preview.html" $paginator }}
            </div>
        </article>
        {{ partial "component/backtop.html" }}
        {{ partial "component/paginator.html" $paginator }}
    </div>
</div>
{{ end }}
