{{- $parsed := urls.Parse .Destination -}}
{{- $href := strings.TrimSpace (partial "common/resolve-ref.html" (dict "dest" .Destination "page" .Page)) -}}

{{- if or (eq $parsed.Scheme "http") (eq $parsed.Scheme "https") -}}
<a href="{{ $href | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }} target="_blank" rel="noopener noreferrer">
{{- else -}}
<a href="{{ $href | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>
{{- end -}}
    {{- with .Text -}}
        {{- . | safeHTML -}}
    {{- end -}}
</a>
