{{- $lang := .Type | default "text" -}}
{{- $filename := .Attributes.filename -}}
{{- $link := .Attributes.link | default "" -}}

{{- $collapse := .Attributes.closed | default true -}}
{{- if eq (printf "%v" $collapse) "false" -}}
    {{- $collapse = false -}}
{{- end -}}

{{- $opts := .Options | default (dict) -}}

{{- with index .Attributes "hl_lines" -}}
    {{- $opts = merge $opts (dict "hl_lines" .) -}}
{{- end -}}

{{- $lineAnchors := printf "Code-%d-Line" .Ordinal -}}
{{- $opts = merge $opts (dict "lineAnchors" $lineAnchors) -}}

{{- $args := (dict
    "lang" $lang
    "filename" $filename
    "link" $link
    "collapse" $collapse
    "content" .Inner
    "opts" $opts
) -}}

{{ partial "common/code.html" $args }}
