<button class="collapse-button" type="button">
    <span class="collapse-open" title="{{ i18n "collapse.hide" }}">
        {{ partial "component/svg-sprite.html" (dict "name" "chevron-up" "class" "icon" "asset" "ui/static-ui.svg") }}
        <!-- <span>{{ i18n "collapse.hide" }}</span> -->
    </span>
    <span class="collapse-closed" title="{{ i18n "collapse.show" }}">
        {{ partial "component/svg-sprite.html" (dict "name" "chevron-down" "class" "icon" "asset" "ui/static-ui.svg") }}
        <!-- <span>{{ i18n "collapse.show" }}</span> -->
    </span>
</button>
