<button id="copy-button" class="copy-button" type="button">
    <span class="copy-show" title="{{ i18n "button.copy" }}">
        {{ partial "component/svg-sprite.html" (dict "name" "copy" "class" "icon" "asset" "ui/static-ui.svg") }}
        <!-- <span>{{ i18n "button.copy" }}</span> -->
    </span>
    <span class="copy-successful" title="{{ i18n "button.copied" }}">
        {{ partial "component/svg-sprite.html" (dict "name" "copy-check" "class" "icon" "asset" "ui/static-ui.svg") }}
        <!-- <span>{{ i18n "button.copied" }}</span> -->
    </span>
    <span class="copy-failed" title="{{ i18n "button.copy_failed" }}">
        {{ partial "component/svg-sprite.html" (dict "name" "copy-failed" "class" "icon" "asset" "ui/static-ui.svg") }}
        <!-- <span>{{ i18n "button.copy_failed" }}</span> -->
    </span>
</button>
