<button class="copy-button" type="button">
    <span class="copy-show" title="{{ i18n "copy" }}">
        <svg class="icon"><use href="#copy"></use></svg>
        <!-- <span>{{ i18n "copy" }}</span> -->
    </span>
    <span class="copy-successful" title="{{ i18n "copied" }}">
        <svg class="icon"><use href="#copy_check"></use></svg>
        <!-- <span>{{ i18n "copied" }}</span> -->
    </span>
    <span class="copy-failed" title="{{ i18n "copy_failed" }}">
        <svg class="icon"><use href="#copy_failed"></use></svg>
        <!-- <span>{{ i18n "copy_failed" }}</span> -->
    </span>
</button>
