{{- $paginator := . -}}
{{ if gt $paginator.TotalPages 1 -}}
<div class="paginator-container">
    <div class="paginator-nav">
        {{ if $paginator.HasPrev -}}
        <a href="{{ $paginator.Prev.URL }}" title="{{ i18n "pagination.prev" }}">
            <button class="paginator-button" type="button">
        {{- else -}}
        <button class="paginator-button hidden" type="button">
        {{- end -}}
        <svg><use href="#arrow_left_circle"></use></svg>
        {{- if $paginator.HasPrev -}}
            </button>
        </a>
        {{- else -}}
        </button>
        {{- end }}

        <button class="paginator-number-button" title="{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}" type="button">
            <span>{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
        </button>
        
        {{ if $paginator.HasNext -}}
        <a href="{{ $paginator.Next.URL }}" title="{{ i18n "pagination.next" }}">
            <button class="paginator-button" type="button">
        {{- else -}}
        <button class="paginator-button hidden" type="button">
        {{- end -}}
        <svg><use href="#arrow_right_circle"></use></svg>
        {{- if $paginator.HasNext -}}
            </button>
        </a>
        {{- else -}}
        </button>
        {{- end }}
    </div>
</div>
{{- end -}}
