{{- $paginator := . -}}
{{ if gt $paginator.TotalPages 1 -}}
<div class="paginator-container">
    <div class="paginator-nav">
        {{- if $paginator.HasPrev }}
        <a class="paginator-button" href="{{ $paginator.Prev.URL }}" title="{{ i18n "pagination.prev" }}">
            {{- partial "component/svg-sprite.html" (dict "mode" "inline" "name" "arrow-left-circle") }}
        </a>
        {{- else }}
        <span class="paginator-button hidden">
            {{- partial "component/svg-sprite.html" (dict "mode" "inline" "name" "arrow-left-circle") }}
        </span>
        {{- end }}

        <span class="paginator-number-button" title="{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}">
            <span>{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
        </span>

        {{- if $paginator.HasNext }}
        <a class="paginator-button" href="{{ $paginator.Next.URL }}" title="{{ i18n "pagination.next" }}">
            {{- partial "component/svg-sprite.html" (dict "mode" "inline" "name" "arrow-right-circle") }}
        </a>
        {{- else }}
        <span class="paginator-button hidden" aria-hidden="true">
            {{- partial "component/svg-sprite.html" (dict "mode" "inline" "name" "arrow-right-circle") }}
        </span>
        {{- end }}
    </div>
</div>
{{- end -}}
